.btn {
    border: none;
    background-color: $color-secondary;
    padding: 2rem 3rem;
    font-size: 2rem;
    font-family: inherit;
    cursor: pointer;

    &--again {
        position: absolute;
        top: 2rem;
        left: 2rem;
    }

    &:hover {
        background-color: darken($color: $color-secondary, $amount: 10);
    }
}